@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
:root {
    --bd-linkedin-bg: #0a66c2;
    --bd-github-bg: #010409;
    --bd-footer-bg: #ebebeb;
    --bs-white: #ffffff;
    --bs-font-sans-serif: "Montserrat", sans-serif;
}

$letter-spacing-titles: 0.4px;
$margin-vertically-titles: 20px;
$padding-size-header: 8px;
$font-size-header: 16px;
$height-header: 70px;
