$padding-size-header: 8px;
$font-size-header: 16px;
$height-header: 70px;

header {
  padding: 0 $padding-size-header;
  opacity: 1;
  visibility: inherit;
  backdrop-filter: blur(25px);
  height: $height-header;
  top: 0;
  left: 0;
  z-index: 1;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease;

  &.scroll {
    box-shadow: 0 1px 0 rgb(168 168 168 / 20%);
  }
}

nav {
  display: grid;
  grid-template-areas: "logo steps settings";
  padding: 0 $padding-size-header;
}

#logo {
  grid-area: logo;
  justify-self: start;
  align-self: center;
  padding: $padding-size-header;

  img {
    width: 30px;
    height: auto;
  }
}

#steps {
  grid-area: steps;
  justify-self: center;
  align-self: center;
  padding: $padding-size-header;

  .step {
    display: inline-block;
    margin: 0 $padding-size-header;
    font-size: $font-size-header;
    border: none;
    cursor: pointer;

    label {
      cursor: pointer;
    }
  }
}

#settings {
  grid-area: settings;
  justify-self: end;
  align-self: center;

  button#theme {
    font-size: $font-size-header;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;

    img {
      width: 20px;
      height: auto;
    }

    span {
      padding-left: 5px;
    }
  }
}
