@import "variables";
@import "./custom-boostrap.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./animations.scss";

html {
    box-sizing: border-box;
}

body {
    margin: 0rem auto;
    padding: 0rem;
    width: 100%;
    min-height: 100%;
}

main {
    section {
        display: grid;
        place-items: start;
        align-content: center;

        &:first-child {
            min-height: calc(100vh - #{$height-header});
        }

        .section-header {
            text-align: center;

            &:first-child {
                text-align: left;
            }

            span {
                display: block;
                font-weight: 700;
                font-size: 16px;
                letter-spacing: $letter-spacing-titles;
                text-transform: uppercase;
                margin-bottom: $margin-vertically-titles;
            }

            h1 {
                font-weight: 700;
                font-size: 60px;
                letter-spacing: $letter-spacing-titles;
            }

            p {
                margin-top: $margin-vertically-titles;
                font-weight: 300;
                font-size: 18px;
                letter-spacing: 0.3px;
                line-height: 34px;
            }
        }
    }
}
