header {
  padding: 10px;
}

nav.grid {
  display: grid;
  grid-template-areas: "logo steps settings";
}

#logo {
  grid-area: logo;
  justify-self: start;
  align-self: center;
}

#steps {
  grid-area: steps;
  justify-self: end;
  align-self: center;
}

.step {
  display: inline-block;
}

#settings {
  grid-area: settings;
  justify-self: end;
  align-self: center;
}

#theme {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
