header {
  padding: 10px;
}

nav.grid {
  display: grid;
  grid-template-areas: "logo steps tools";
}

#logo {
  grid-area: logo;
  justify-self: start;
  align-self: center;
}

#steps {
  grid-area: steps;
  justify-self: end;
  align-self: center;
}

.step {
  display: inline-block;
  padding: 0.5rem 0.8rem;
  margin: 0 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

#tools {
  grid-area: tools;
  justify-self: end;
  align-self: center;
}

.tool {
  display: inline-block;
}
